<!-- UI para Adicionar Filme -->

<h2 class="win-h2">Adicionar novo filme</h2>
<form name="formFilme" id="formFilme" novalidate>
    <button class="imgfilme" ng-click="carregarPoster()">
        <div class="adicimagem win-type-body">Adicionar pôster</div>
    </button>
    <input class="win-textbox filepicker" id="filmefp" type="file"/>
    <p>Nome original: <input type="text" class="win-textbox" name="nomeoriginal" maxlength="128" ng-model="formData.nomeoriginal" required/></p>
    <p>Nome traduzido: <input type="text" class="win-textbox" name="nometraduzido" maxlength="128" ng-model="formData.nometraduzido" required/></p>
    <p>Ano: <input type="number" class="win-textbox" min="1880" max="2099" maxlength="4" name="ano" ng-model="formData.ano" required/></p>
    <p>Nota: <input type="number" class="win-textbox" name="nota" min="0" max="10" maxlength="2" ng-model="formData.nota"/></p>
    <p>URL do trailer: <input type="url" class="win-textbox" name="url" maxlength="256" ng-model="formData.url"/></p>
    <p>Código do IMDB: <input type="number" class="win-textbox" name="imdb" maxlength="7" ng-model="formData.imdb"/></p>
    <h3 class="win-h3">Diretores do filme</h3>
    <button class="win-button" style="margin-top: 10px;">Adicionar diretor</button>
    <win-list-view item-data-source="formData.diretores" selection="diretores">
        <win-item-template>{{item.data.nome}}</win-item-template>
    </win-list-view>
    <h3 class="win-h3">Atores do filme</h3>
    <button class="win-button" style="margin-top: 10px;">Adicionar ator</button>
    <win-list-view item-data-source="formData.atores" selection="diretores">
        <win-item-template>{{item.data.nome}}</win-item-template>
    </win-list-view>
    <h3 class="win-h3">Imagens do filme</h3>
    <button class="win-button" style="margin-top: 10px;">Adicionar imagem</button>
    <div class="listaimagens">

    </div>
    <input class="win-button win-button-primary" type="submit" value="Adicionar filme" ng-disabled="formFilme.$dirty && formFilme.$invalid"/>
</form>