<!-- UI para Adicionar Pessoa -->

<h2 class="win-h2">Adicionar nova pessoa</h2>
<form name="formPessoa" id="formPessoa" novalidate>
    <button class="imgpessoa" ng-click="carregarImagem()">
        <div class="adicimagem win-type-body">Adicionar foto</div>
    </button>
    <input class="win-textbox filepicker" id="pessoafp" type="file"/>
    <p>Nome de nasicmento: <input type="text" class="win-textbox" name="nomenascimento" maxlength="128" ng-model="formData.nomenascimento" required />
        <span style="color:white" ng-show="formPessoa.nomenascimento.$dirty && formPessoa.nomenascimento.$invalid">
            <span ng-show="formPessoa.nomenascimento.$error.required">O nome de nascimento é obrigatório.</span>
        </span>
    </p>
    <p>Nome artístico: <input type="text" class="win-textbox" name="nomeoriginal" maxlength="64" ng-model="formData.nomeartistico" required/>
        <span style="color:white" ng-show="formPessoa.nomeartistico.$dirty && formPessoa.nomeartistico.$invalid">
            <span ng-show="formPessoa.nomeartistico.$error.required">O nome artístico é obrigatório.</span>
        </span>
    </p>

    <p>Local de nascimento: <input type="text" class="win-textbox" name="formData.localnascimento" maxlength="64" ng-model="localnascimento"/></p>
    <p>País de nascimento: <select class="win-dropdown" name="pais" required>
        
        </select>
    </p>
    <h3 class="win-h3">Funções da pessoa</h3>
    
    <p>Uma pessoa pode ser um ator, um diretor ou ambos.</p>
    <input type="checkbox" class="win-checkbox" style="vertical-align: middle;" ng-model="formData.ator"/>Ator
    <input type="checkbox" class="win-checkbox"style="vertical-align: middle;" ng-model="formData.diretor"/>Diretor
    <h3 class="win-h3">Imagens da pessoa</h3>
    <button class="win-button" style="margin-top: 10px;">Adicionar foto</button>
    <div class="listaimagens">

    </div>
    <p>Resultado: [<span>{{formData.nomenascimento}}</span>]</p>
    <input class="win-button win-button-primary" type="submit" value="Adicionar pessoa" ng-disabled="formPessoa.$dirty && formPessoa.$invalid" />
</form>