<!-- UI para Adicionar Pessoa -->

<h2 class="win-h2" ng-bind="formTitulo"></h2>
<p ng-bind="pessoaData.id"></p>
<form name="formPessoa" id="formPessoa" novalidate>
    <button class="imgpessoa" ng-click="carregarImagem()">        
        <img id="pessoafoto" class="pessoafoto" ng-show="imagemEscolhida">
        <div class="adicimagem win-type-body">
            <span ng-hide="imagemEscolhida">Adicionar foto</span>
        </div>
    </button>
    <p>Nome de nasicmento: <input type="text" class="win-textbox" name="nomenascimento" maxlength="128" ng-model="pessoaData.nomenascimento" required />
        <span style="color:white" ng-show="formPessoa.nomenascimento.$dirty && formPessoa.nomenascimento.$invalid">
            <span ng-show="formPessoa.nomenascimento.$error.required">O nome de nascimento é obrigatório.</span>
        </span>
    </p>
    <p>Nome artístico: <input type="text" class="win-textbox" name="nomeoriginal" maxlength="64" ng-model="pessoaData.nomeartistico" required/>
        <span style="color:white" ng-show="formPessoa.nomeartistico.$dirty && formPessoa.nomeartistico.$invalid">
            <span ng-show="formPessoa.nomeartistico.$error.required">O nome artístico é obrigatório.</span>
        </span>
    </p>

    <p>Local de nascimento: <input type="text" class="win-textbox" name="localnascimento" maxlength="64" ng-model="pessoaData.localnascimento"/></p>
    <p>País de nascimento: <win-auto-suggest-box query-text="" placeholder-text="'País'" on-suggestions-requested="onPaisSuggestionsRequested($event)" on-query-submitted="onPaisQuerySubmitted($event)"></win-auto-suggest-box></p>
    <h3 class="win-h3">Imagens da pessoa</h3>
    <button class="win-button" style="margin-top: 10px;">Adicionar imagem</button>
    <div class="listaimagens">

    </div>
    <input class="win-button win-button-primary" type="submit" value="Salvar" ng-disabled="formPessoa.$dirty && formPessoa.$invalid" ng-click="processarForm()"/>
</form>

<!-- Controle para carregar imagens -->
<input class="win-textbox filepicker" id="pessoafp" type="file"/>