<!-- UI para Visualizar Pessoa -->

<P>PESSOA</P>
<div>
    <table style="border: 0px;">
        <tbody>
            <tr>
                <td>
                    <img id="pessoaposter" class="pessoaposter">
                </td>
                <td>
                    <h2 class="win-h2" ng-bind="pessoaData.nomeartistico"></h2>
                    <p>Nome de nascimento: <span ng-bind="pessoaData.nomenascimento"></span></p>
                    <p>Local de nascimento: <span ng-bind="pessoaData.localnascimento"></span></p>
                    <p>País de nascimento: <span ng-bind="pessoaData.nomepais"></span></p>
                    <a class="win-link" href="#/editpessoa/{{pessoaData.idpessoa}}" style="margin-top: 16px">Editar pessoa</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <p class="win-h4">Imagens</p>
    <div>
        <div ng-repeat="x in pessoaData.imagens | limitTo: 5" style="height: 120px; float: left;">
            <img class="imagpessoa" ng-src="{{x.imagem}}"/>
        </div>
    </div>
    <div style="clear: both;">
        <a class="win-link" href="">Ver mais imagems</a>
    </div>
</div>
<div style="padding-top: 16px;">
    <p class="win-h4">Filmografia</p>
    <div ng-show="pessoaData.Atuacoes.length > 0">
        <p class="win-h5">Atuações</p>
        <table style="padding-left: 8px;">
            <tbody>
                <tr ng-repeat="x in pessoaData.Atuacoes">
                    <td>
                        <img class="imagpesquisa" ng-src="{{x.poster}}" />
                    </td>
                    <td>
                        <a class="win-link" href="#/verfilme/{{x.idfilme}}" ng-bind="x.nomefilme"></a>
                        <p ng-bind="x.descricaotipo"></p>
                    </td>
                    </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="pessoaData.Direcao.length > 0">
        <p class="win-h5">Direção</p>
        <table style="padding-left: 8px;">
            <tbody>
                <tr ng-repeat="x in pessoaData.Direcao">
                    <td>
                        <img class="imagpesquisa" ng-src="{{x.poster}}" />
                    </td>
                    <td>
                        <a class="win-link" href="#/verfilme/{{x.idfilme}}" ng-bind="x.nomefilme"></a>
                        <p ng-bind="x.descricaotipo"></p>
                    </td>
                    </tr>
            </tbody>
        </table>
    </div>      
</div>